.card-title{
    color: var(--primary-color);
}

.btn-card{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-card:hover{
    background-color: #fc6767;
    color: white;
}

.my-card:hover{
    box-shadow: 10px 10px #f65c5c7c;
}

.photo{
    height: 300px;
    width: 100%;
}
.photo img{
    height: 100%;
    width: 100%;
}

.photos{
    width: fit-content;
    height: 30px;
    background-color: #fc6767;
    color: white;
    position: relative;
    top: -30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}