.my-navbar{
    background-color: var(--primary-color);
}

.my-button{
    display: block;
    padding: 0 1rem ;
    background: linear-gradient(to left, #fc6767, #ec008c);
    color: #fff;
    font: inherit;
    border: .1rem solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 3rem;
    height: 35px;
}

.my-button:hover{
    background: linear-gradient(to left, #ec008c, #fc6767 );
}

.logo:hover{
    color: #fff;
}

.count{
    background-color: #ec008c;
}

.dropdown-menu {
    background-color: #fc6767a9;
}