.form{
    position: relative;
    max-width: 40rem;
    padding: 10rem 0;
    color: #fff;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.1);
    isolation: isolate;
}

label{
    color: #fc6767;
}

.form::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to left, #fc6767, #ec008c);
    border-radius: 1rem 1rem 100% 100%;
    z-index: -1;
}

.form-title{
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
}

.form > form{
    padding: 2.5rem;
    background-color: #fff;
}

.form-input{
    position: relative;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.form-input > i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #fc6767;
}

.form-input input{
    position: relative;
    width: 100%;
    font: inherit;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
}

.form-input .bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
}

.form-input .bar::before{
    content: "";
    position: absolute;
    background-color: #fc6767;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.form-input > input:focus + .bar::before{
    transform: scaleX(1);
}

.form-control:focus{
    border-color: rgb(252, 103, 103);
    box-shadow: 0 0 0 0.25rem rgba(252, 103, 103, 0.25);
}

.form-button{
    display: block;
    margin: 2.5rem auto 3rem;
    padding: 1rem 3rem;
    background: linear-gradient(to left, #fc6767, #ec008c);
    color: #fff;
    font: inherit;
    border: .5rem solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 3rem;
}

.form-button:hover{
    background: linear-gradient(to left, #ec008c, #fc6767 );
}

.form-switch{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #a1a1a1;
    padding: 0;
}

.form-switch a{
    text-decoration: none;
    color: #fc6767;
}

.form-switch a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 43.75em){
    .form::before{
        height: 30rem;
    }

    .form-title{
        left: 10rem;
        transform: none;
    }

    .form > form{
        transform: translateX(10rem);
        border-radius: inherit;
        box-shadow: inherit;
    }
}