*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fc67670c;
}

:root{
    --primary-color: #fc6767;
    --secondary-color: #ec008e; 
}

.my-masthead{
    background: url(./../../public/img/premium_photo-1661758954256-f483e96c67d9.avif);
}

.btn-masthead{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-masthead:hover{
    background-color: #fc6767;
    color: white;
}

/* pagination link */

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #fc6767;
    border-color: #ddd;
}

.page-item.active .page-link {
    color: #fff;
    background: #fc6767;
    border: none;
}

.pagination > li > a{
    color: black;
}

/* end pagination link */

.img-preview{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.my-border{
    border: 4px solid var(--primary-color);
}